k8s {
   namespace = 'acgt-ns'
   runAsUser = 1000
   computeResourceType = 'Job'
   launchDir = ''
   pullPolicy = 'IfNotPresent'
}

executor {
   queueSize = 300
}

process {
   executor = 'k8s'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [automountServiceAccountToken:false], [env:'JAVA_OPTS', value:'-XX:ParallelGCThreads=4']]
   
}
